<div class="componentContainer">
  <div class="optionsContainer">
    <div *ngFor="let item of periods" (click)="changePeriod(item.name)"
      [ngClass]="{'selectedPeriod': item.name === period}">
      {{ item.name | titlecase }}
    </div>
  </div>
  <div class="selectorContainer">
    <mat-icon matRipple (click)="changeDate('sub')">chevron_left</mat-icon>
    <div class="dateContainer">
      <div [ngSwitch]="period">
        <div *ngSwitchCase="TimePeriodsEnum.Day"><span>{{ init_date | date: 'EEE dd MMM yyyy' | titlecase }}</span>
        </div>
        <div *ngSwitchCase="TimePeriodsEnum.Week"><span>{{ init_date | date: 'dd/MM/yy' | titlecase }} - {{
            end_date |
            date:
            'dd/MM/yy' | titlecase }}</span>
        </div>
        <div *ngSwitchCase="TimePeriodsEnum.Month"><span>{{ init_date | date: 'MMMM yyyy' | titlecase }}</span></div>
        <div *ngSwitchDefault>output2</div>
      </div>
    </div>
    <mat-icon matRipple (click)="changeDate('add')">chevron_right</mat-icon>
  </div>
</div>