<header class="header">
  <a class="navLeading" [routerLink]="routesEnum.Home">
    <mat-icon class="navIcon">timer</mat-icon>
    <h1 class="navAppName">TimeTracker</h1>
  </a>
  <ul class="navBar">
    <li class="navLink" [routerLink]="routesEnum.Hours"><a class="linkText">{{ routesEnum.Hours | uppercase }}</a>
      <mat-icon class="expandIcon">expand_more</mat-icon>
    </li>
    <li class="navLink" [routerLink]="routesEnum.Projects"><a class="linkText">{{ routesEnum.Projects | uppercase }}</a>
    </li>
    <li class="navLink" [routerLink]="routesEnum.Charts"><a class="linkText">{{ routesEnum.Charts | uppercase }}</a>
    </li>
    <li class="navLink" (click)="logout()"><a class="linkText">{{ 'logout' | uppercase }}</a></li>
  </ul>
</header>