.tableContainer {
  width: 100%;
  height: 436px;
  padding: 12px;
  border-radius: 2px;
  box-shadow: var(--shadow-1);
  background-color: var(--background);

  .tableHeader {
    padding: 4px;
    border-radius: 2px 2px 0 0;
    font-weight: 500;
    color: var(--text-primary);
    background-color: var(--primary-dark);
  }

  .tableBody {
    height: 384px;
    overflow-y: scroll;
    color: var(--tile-text);
    background-color: var(--tile);

    > *:not(:last-child) {
      border-bottom: 1px solid #0003;
    }

    .tableItem {
      padding: 4px;
      transition: 0.2s;

      > * {
        display: flex;
        align-items: center;
      }

      &:hover {
        background-color: var(--tile-hover);
      }
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
    }
  }

  .tableFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    border-radius: 0 0 2px 2px;
    font-weight: 500;
    color: var(--text-primary);
    background-color: var(--primary-light);

    .navIcon {
      border-radius: 50%;
      transition: 0.2s;

      &:hover {
        background-color: var(--primary);
      }
    }
  }
}

.gridFormatter {
  display: grid;
  grid-template-columns: 100px 1fr 80px 80px 24px;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  :nth-child(1) {
    grid-area: 1/1/6/2;
  }
  :nth-child(2) {
    grid-area: 1/2/6/3;
  }
  :nth-child(3) {
    grid-area: 1/3/6/4;
  }
  :nth-child(4) {
    grid-area: 1/4/6/5;
  }
  :nth-child(5) {
    grid-area: 1/5/6/6;
  }
}

.noRegs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
