<section class="sectionContainer">
	<div class="leftSection">
		<app-period-selector></app-period-selector>
		<app-hours-form></app-hours-form>
	</div>

	<app-hours-user-table></app-hours-user-table>

	<!-- <div class="chart">
		<div *ngIf="hours; else noRegs" class="chartText">
			<h3 class="cardTitle">Horas totales</h3>
			<span>{{ hours }}</span>
		</div>
		<app-pie-chart></app-pie-chart>
	</div> -->
</section>

<ng-template #noRegs>
	<div class="noRegs">
		<span>
			No hay registros para el período solicitado
		</span>
	</div>
</ng-template>