.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;

  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #0092;

    .title {
      align-self: center;
    }
  }
}
