@use "../../../scss/components" as c;

.sectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 400px;
    padding: 20px;
    background-color: var(--background-2);

    .logo {
      height: 256px;
      width: 256px;
    }

    form {
      width: 100%;

      .inputContainer {
        @include c.form-input;
        width: 100%;
      }
    }

    .actionButton {
      @include c.form-button(#88e, #9999f9);
      width: 100%;
    }
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
