<div class="landingContainer">
	<!-- <img class="landingLogo" src="assets/icons/landing-icon.png" alt="Application icon"> -->
	<!-- <img class="landingLogo" src="assets/icons/logo.svg" alt="Application icon"> -->

	<app-clock></app-clock>

	<h1 class="landingTitle">¡Bienvenido!</h1>

	<div class="actionsContainer">
		<span [routerLink]="['/login']" class="actionButton">{{ 'login' | uppercase }}</span>
		<span [routerLink]="['/register']" class="actionButton">{{ 'registrarse' | uppercase }}</span>
	</div>
</div>