.formContainer {
  padding: 12px;
  width: 300px;
  background-color: var(--background);
  border-radius: 2px;
  box-shadow: var(--shadow);

  .formTitle {
    height: 32px;
    color: var(--not-black);
  }

  form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.8px;
    gap: 8px;

    .doubleBlock {
      display: flex;
      gap: 8px;
    }
  }

  button {
    width: 100%;
  }
}
