.formContainer {
  padding: 12px;
  margin: 12px;
  width: 300px;
  background-color: #f1f6f5;
  border-radius: 2px;

  .formTitle {
    color: var(--not-black);
  }

  form {
    display: flex;
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}
