/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --primary: #fd841f;
  --primary-light: #ffa43f;
  --primary-dark: #e14d2a;
  --text-primary: #edf2f7;

  --secondary: #e2c044;
  --action: #34a856;
  --danger: #a83456;
  --not-white: #edf2f7;
  --not-black: #06090f;

  --shadow: 0 0 4px 4px #0003;
  --shadow-2: 0 0 4px 8px #0003;

  --positive-tile: #dfd;
  --negative-tile: #fdd;

  --header-height: 50px;
  --footer-height: 48px;
}
