@mixin form-button($background, $hover-background) {
  min-width: 120px;
  border: none;
  outline: none;
  color: white;
  user-select: none;
  font-weight: 600;
  border-radius: 2px;
  padding: 8px;
  background-color: $background;
  transition: 0.2s;

  &:enabled {
    cursor: pointer;

    &:hover {
      background-color: $hover-background;
      box-shadow: var(--shadow);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &:disabled {
    background-color: var(--disabled-background);
  }
}

@mixin form-input {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 70px;

  label {
    font-weight: 500;
    font-size: medium;
    color: var(--not-black);
  }

  input {
    padding: 8px;
    border-radius: 4px;
    border: var(--default-border);
    outline: none;
    transition: 0.2s;

    &:focus {
      border: var(--focus-border);
    }

    &.ng-valid {
      border: var(--valid-border);
    }

    &.ng-invalid.ng-touched {
      border: var(--invalid-border);
    }
  }

  .icon {
    cursor: pointer;
    position: absolute;
    top: 26px;
    border-radius: 50%;
    user-select: none;
    transition: 0.1s;

    &.leading {
      left: 8px;
    }

    &.trailing {
      right: 8px;
    }

    &:hover {
      transform: scale(1.01);
    }

    &:active {
      background-color: var(--background-1);
      transform: scale(0.96);
    }
  }

  .error {
    color: red;
    font-weight: 500;
    font-size: small;
  }
}
